.card-detalhes-receita {
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.card-detalhes-img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-corpo {
    padding: 20px 40px;
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.categoria {
    background-color: rgba(255, 161, 161, 0.300);
    color: #A02D2D;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px 30px;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-bottom: 5px;
}