/* Faz o container ocupar 100% da altura da tela */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* O conteúdo cresce para empurrar o footer */
.conteudo {
  flex: 1;
}
